body {
    font-family: 'DotGothic16', sans-serif;
}

section {
    background-color: white;
    
}

.hero {
    background-color: lightslategrey;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: lightslategray; 
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 800px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}
/* Weird, the font weight with the font I chose doesn't make a difference, but I like this font too much. */
p {
    margin: 0;
    font-weight: 300;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 180px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.button {
    width: 200px;
    height: 55px;
    border-radius: 40px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: darkgrey;
}

.button-active {
    background-color:skyblue;
    color: red;

}
/* Didn't actually know in order to add the link icons, it was easist to google the image logo + svc which made it SUPER easy to add to my HTML */
.links {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.links {
    margin: 10px;

}

.first-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

h2 {
    font-size: 80px;
}
/* This is so annoying, trying to get the image sized correctly */
/* Can we just stop doing anything to do with front-end please? */
.picture {
    width: 300px;
    border-radius: 150px;
    display: flex;
}

p {
    font-size: 30px;
}
/* Kind of cool how my box shadows aren't showing up, lol. */
.Projects {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
    background-color: blue;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.second-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.subtext {
    font-size: 25px;
    font-weight: 300;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-preview {
    margin-top: 25px;
    width: 300px;
    border-radius: 125px;
}

a {
    text-decoration: none;
    color: white;
}

.view-button {
    color: orangered;
    font-size: 20px;
}